.uppercase {
  font-style: uppercase;
}

.italic {
  font-style: italic;
}

.outer-wrapper{
  padding: 0 5px;
  .title-section{
    h1, h2 {
      color: @dark-font;
      text-align: center;
      padding: 0 5px;
      @media(@sm){
        color: @primary-color;
        margin: 40px auto;
      }
    }
    h1 {
      font-family: @sans-serif;
      font-weight: @regular;
      font-size: 46px;
    }
    h2 {
      font-family: @serif;
      font-size: 32px;
    }
  }
  .col-sm-4{
    padding-left: 8px;
    padding-right: 8px;
  }
  .row{
    margin-bottom: 16px;
    .box{
      margin-bottom: 16px;
    }
    .inside{
      .transition(@transition, @time, @style);
      .border(#000000, 2px);
      height: 300px;
      .timestamp{
        .border(#000000, 1px);
        background-color: #FFFFFF;
        font-family: @sans-serif;
        position: relative;
        top: -1px;
        left: -1px;
        color: black;
        text-transform: uppercase;
        font-style: italic;
        display: inline-block;
        padding: 5px 10px;
        font-weight: bold;
      }
    }
  }
}

.row.one{
  .main-introduction{
    .background-image("/images/claymore.jpg");
    &:hover {
      // .background-image("/images/champloo-eyes.jpg");
      .border(@blue-accent, 5px);
    }
  }
  .main-projects{
    .background-image("/images/theresa3.png");
    &:hover {
      // .background-image("/images/champloo-eyes.jpg");
      .border(@pink-accent, 5px);
    }
  }
  .main-contact{
    .background-image("/images/theresa2.png");
    &:hover {
      // .background-image("/images/champloo-eyes.jpg");
      .border(@orange-accent, 5px);
    }
  }
}

