<div class="about row sub-page">
  <h1 class="text-center">About</h1>
    <div class="col-xs-12 introduction" ng-hide="skills || edu == true" >
      <a href ng-click="intro = !intro;">
        <h4>intro</h4>
      </a>
    </div>
    <div class="col-xs-12 skills" ng-hide="intro || edu == true" >
      <a ng-click="skills = !skills;" 
      href>
        <h4>skills</h4>
      </a>
    </div>
    <div class="col-xs-12 education" ng-hide="intro || skills == true">
        <a href ng-click="edu = !edu;" >
          <h4>education</h4>
        </a>
    </div>
</div>

<div ng-show="intro == true" ng-include src="'templates/introduction.html'"></div>
<div ng-show="skills == true" ng-include src="'templates/skills.html'"></div>
<div ng-show="edu == true" ng-include src="'templates/education.html'"></div>







