<div class="padding-bottom">
<div class="about row sub-page">
  <a href="./" class="pull-left"><i class="fa-home fa">here</i></a>
  <h1 class="text-center">About</h1>
  <div class="line col-md-10 col-md-offset-1"><hr></div>
    <div class="col-xs-12 col-md-10 col-md-offset-1 introduction-wrap" ng-hide="skills || edu == true" >
      <a href ng-click="intro = !intro;" ng-class="intro ? 'active' : ' '">
        <h4 class="intro">introduction</h4>
      </a>
    </div>
    <div class="col-xs-12 col-md-10 col-md-offset-1 skills-wrap" ng-hide="intro || edu == true" >
      <a ng-click="skills = !skills;" href ng-class="skills ? 'active' : ' '">
        <h4 class="skills">skills</h4>
      </a>
    </div>
    <div class="col-xs-12 col-md-10 col-md-offset-1 education-wrap" ng-hide="intro || skills == true">
        <a href ng-click="edu = !edu;" ng-class="edu ? 'active' : ' '">
          <h4 class="edu">education and courses</h4>
        </a>
    </div>
</div>

<div class="wrappers">
  <div class="intro-wrapper" ng-show="intro == true" ng-include src="'templates/introduction.html'"></div>
  <div class="skills-wrapper" ng-show="skills == true" ng-include src="'templates/skills.html'"></div>
  <div class="edu-wrapper" ng-show="edu == true" ng-include src="'templates/education.html'"></div>  
</div>







</div>