<div class="about row sub-page">
  <h1 class="text-center">About</h1>
  <div class="col-md-10 col-md-offset-1"><hr></div>

    <div class="col-xs-12 introduction-wrap" ng-hide="skills || edu == true" >
      <a href ng-click="intro = !intro;">
        <h4 class="intro">intro</h4>
      </a>
    </div>
    <div class="col-xs-12 skills-wrap" ng-hide="intro || edu == true" >
      <a ng-click="skills = !skills;" 
      href>
        <h4 class="skills">skills</h4>
      </a>
    </div>
    <div class="col-xs-12 education-wrap" ng-hide="intro || skills == true">
        <a href ng-click="edu = !edu;" >
          <h4 class="edu">education</h4>
        </a>
    </div>
</div>

<div class="wrappers">
  <div class="intro-wrapper" ng-show="intro == true" ng-include src="'templates/introduction.html'"></div>
  <div class="skills-wrapper" ng-show="skills == true" ng-include src="'templates/skills.html'"></div>
  <div class="edu-wrapper" ng-show="edu == true" ng-include src="'templates/education.html'"></div>  
</div>







