<div class="contact-form sub-page row">
  <h1 class="text-center">Get in Touch</h1>
  <div class="col-md-10 col-md-offset-1"><hr></div>
</div>

<div id="contact" class="row">
  <div class="col-xs-12 col-md-5 col-md-offset-1 contact-image"></div>
  <div class="col-xs-12 col-md-5">
    <a href="https://twitter.com/VoodooLawz">
      <div class="col-xs-4">
        <div class="contact-icon twitter">
          <i class="fa fa-3x fa-twitter"></i>
        </div>
      </div>
    </a>
    <a href="https://github.com/lambro">
      <div class="col-xs-4">
        <div class="contact-icon github">
          <i class="fa fa-3x fa-github"></i>
        </div>
      </div>
    </a>
    <a href="https://www.linkedin.com/in/lauraambroseftw">
      <div class="col-xs-4">
        <div class="contact-icon linkedin">
          <i class="fa fa-3x fa-linkedin"></i>
        </div>
      </div>
    </a>
    <form id="sendanemail" class="form-group" name="htmlform" method="post" action="html_form_send.php">
      <input class="form-control" type="text" name="first_name" placeholder="First Name">
      <input class="form-control" type="text" name="last_name" placeholder="Last Name">
      <input class="form-control" type="email" name="email" placeholder= "Email Address">
      <input class="form-control" type="tel" name="telephone" placeholder="Contact Number">
      <textarea class="form-control" type="text" placeholder="Message" name="comments"></textarea>
      <input class="btn btn-primary" type="submit" value="SEND MESSAGE">
    </form>
  </div>
</div>

<!--       <a href="https://docs.google.com/document/d/1ETcRMNTyD2U1SZ1U3b5RgtRCaBOETVVu1KLsSjUMICs/edit?usp=sharing">
        <div class="col-xs-3">
          <div class="contact-icon">
            <i class="fa fa-2x fa-download"></i>
          </div>
        </div>
        <div class="col-xs-9">
          <h4>Download a copy of my CV here</h4>
        </div>
      </a> -->
<!--  <p><b><a href="LauraAmbrose_2015_2016.pdf" download>Here</a></b> is a print friendly copy of my resume. Alternatively you can go <a href="https://docs.google.com/document/d/1ETcRMNTyD2U1SZ1U3b5RgtRCaBOETVVu1KLsSjUMICs/edit?usp=sharing">here</a> and view it online</p> -->