<div class="education sub-page row">
  <ul class="list-unstyled">
    <li>
      <h2>.NET Object Oriented Programming using C#</h2>
      <h3>2015</h3>
      <h3>City University, London</h3>
      <i class="fa fa-desktop"></i>
    </li>
    <li>
      <h2>Web Development Immersive Course</h2>
      <h3>2014</h3>
      <h3>General Assembly, London</h3>
      <i class="fa fa-coffee"></i>
    </li>
    <li>
      <h2>Front End Web Development Course</h2>
      <h3>2014</h3>
      <h3>General Assembly, London</h3>
      <i class="fa fa-laptop"></i>
    </li>
    <li>
      <h2>Level 4 (Upper Intermediate) Intensive Korean Course </h2>
      <h3>2010 - 2011</h3>
      <h3>Konkuk University, Seoul</h3>
      <i class="fa fa-language"></i>
    </li>
    <li>
      <h2>MSc. Medical Parasitology</h2>
      <h3>2005 - 2006</h3>
      <h3>London School of Hygiene and Tropical Medicine, London</h3>
      <i class="fa fa-mortar-board"></i>
    </li>
    <li>
      <h2>BSc. (Honours) Environmental Science 2:2</h2>
      <h3>2001 - 2005</h3>
      <h3>Kings College London, University of London, London</h3>
      <i class="fa fa-book"></i>
    </li>
  </ul>
</div>