<footer>
  <div class="container-fluid">
    <div class="row">
      <a href="https://twitter.com/VoodooLawz"><h2 class="col-xs-2"><i class="fa fa-twitter"></i></h2></a>
      <a href="https://github.com/lambro"><h2 class="col-xs-2"><i class="fa fa-github"></i></h2></a>
      <h4 class="col-xs-4">LAMB 2016</h4>
      <a href="https://www.linkedin.com/in/lauraambroseftw"><h2 class="col-xs-2"><i class="fa fa-linkedin"></i></h2></a>
      <a href="../#/contactform"><h2 class="col-xs-2"><i class="fa fa-envelope-o"></i></h2></a>
    </div>
  </div>
</footer>
