<div class="outer-wrapper">
  <div class="title-section row">
    <div class="col-xs-12">
      <h1>
        Laura Ambrose
      </h1>
      <h3 class="text-center">
        Web Developer
      </h3>
    </div>
  </div>

  <div class="row one">

    <a href="./#/about">
      <div class="box col-md-4">
        <div class="col-sm-12 no-padding main-introduction inside">      
          <div class="timestamp">
            <!-- December 2014 - In London -->
            Chapter 1 - About me
          </div>
        </div>
      </div>
    </a>

    <a href="./#/projects">
      <div class="box col-md-4">          
        <div class="col-sm-12 no-padding main-projects inside">      
          <div class="timestamp">
            Chapter 2 - Projects
          </div>
        </div>
      </div>
    </a>

    <a href="./#/contactform">
        <div class="box col-md-4">
          <div class="col-sm-12 no-padding main-contact inside">
            <div class="timestamp">
              Chapter 3 - Get in touch
            </div>
          </div>
        </div>
    </a>
  </div>

  <div>
    <p class="tiny">
      Images from the Claymore, Akira and Attack on Titan visual novels.
    </p>
  </div>
<!--   <div class="title-section row">
    <div class="col-xs-12">
      <h2>
        Web Developer
      </h2>
    </div>
  </div> -->
</div>
