<div class="skills sub-page row">
  <div id="tech col-xs-12">
    <div class="bar col-xs-10 col-xs-offset-1" ng-click="html = !html">
      <div id="html" class="inner">HTML / HAML</div>
    </div>

    <div class="bar col-xs-10 col-xs-offset-1" ng-click="css = !css">
      <div id="css" class="inner">CSS / SCSS</div>
    </div>

    <div class="bar col-xs-10 col-xs-offset-1" ng-click="ruby = !ruby">
      <div id="ror" class="inner">Ruby on Rails</div>
    </div>

    <div class="bar col-xs-10 col-xs-offset-1" ng-click="javascript = !javascript">
      <div id="javaScript" class="inner">JavaScript</div>
    </div>

    <div class="bar col-xs-10 col-xs-offset-1" ng-click="jquery = !jquery">
      <div id="jquery" class="inner">JQuery</div>
    </div>

    <div class="bar col-xs-10 col-xs-offset-1" ng-click="angular = !angular">
      <div id="angularJs" class="inner">AngularJS</div>
    </div>

  </div>
</div>


