<div class="skills sub-page row">
  <div class="col-sm-6 col-xs-12 skill-title style-title">
    <h2>Style</h2>
    <p class="no-padding">I have had a lot of experience with CSS throughout my coding life, starting with the Front End course at GA and throughout my career as a Front End developer. CSS has changed a lot over the years, often replacing the need for JavaScript with the new CSS3 capabilities, allowing us to keep code more efficient and page load times shorter and it has been beneficial to take advantage of this. I have used pure CSS, and commercially, as is quite common, with preprocessors such as SASS and LESS. As is clear on my older projects I have always loved experimenting with CSS and as part of my career, notably my work on the Ford Foundation project I have a solid grasp of CSS, building fully responsive pages and widgets to design, and working with designers to bring their flat designs to an interactive platform.</p>
  </div>
  <div class="col-sm-6 col-xs-12 style-skills skill-box no-padding"> <div class="color-layer style">

    <div class="speech-bubble css">
      <p class="no-padding">css</p>
    </div>
    <div class="speech-bubble less">
      <p class="no-padding">less</p>
    </div>
    <div class="speech-bubble sass">
      <p class="no-padding">sass</p>
    </div>
  </div>
</div>

<div class="col-sm-6 col-xs-12 skill-title visible-xs javascript-title">
  <h2>Javascript</h2>
  <p class="no-padding"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>
<div class="col-sm-6 col-xs-12 javascript-skills skill-box no-padding"> 
  <div class="color-layer javascript">

    <div class="speech-bubble javascript">
      <p class="no-padding">Javascript</p>
    </div>  
    <div class="speech-bubble coffee">
      <p class="no-padding">CoffeeScript</p>
    </div>  
    <div class="speech-bubble angular">
      <p class="no-padding">Angular</p>
    </div>
  </div>
</div>
<div class="col-sm-6 skill-title hidden-xs style-title javascript-title">
  <h2>Javascript</h2>
  <p class="no-padding"> I have been working with Javascript in various forms since I began. Initially I worked on large projects using Javascript, JQuery and AngularJS to display visuals using data from our clients API. Following this I went on to work on a social learning web app set in a backbone-marionette stack. </p>
</div>
<div class="col-sm-6 col-xs-12 production-title skill-title">
  <h2>Production</h2>
  <p class="no-padding"> Working with teams of local and remote developers I have had valuable experience working with GIT on collaborative projects and with Grunt and Cucumber as integral parts of my day to day work processes.
  </p>
</div>
<div class="col-sm-6 col-xs-12 production-skills skill-box no-padding">
  <div class="color-layer production">
    <div class="speech-bubble git">
      <p class="no-padding">git</p>
    </div>  
    <div class="speech-bubble grunt">
     <p class="no-padding">grunt</p>
   </div>  
   <div class="speech-bubble cucumber">
    <p class="no-padding">cucumber</p>
  </div>
</div>
</div>
<div class="col-sm-6 col-xs-12 production-title skill-title visible-xs">
  <h2>Integration</h2>
  <p class="no-padding"> As a front end developer integration and collaboration with other developers is an essential skill, I worked in a .NET stack at Durable, integrating with C# in Umbraco and Sitecore CMS systems. My most recent experience was with a Ruby stack at Fuse.</p>
</div>
<div class="col-sm-6 col-xs-12 backend-skills skill-box no-padding"> 
  <div class="color-layer integration">
    <div class="speech-bubble c-sharp">
      <p class="no-padding">c#</p>
    </div>  
    <div class="speech-bubble umbraco">
      <p class="no-padding">umbraco</p>
    </div>
    <div class="speech-bubble ruby">
      <p class="no-padding">ruby</p>
    </div>
  </div>  
</div>
<div class="col-sm-6 col-xs-12 backend-title skill-title hidden-xs">
  <h2>Integration</h2>  
  <p class="no-padding"> As a front end developer integration and collaboration with other developers is an essential skill, I worked in a .NET stack at Durable, integrating with C# in Umbraco and Sitecore CMS systems. My most recent experience was with a Ruby stack at Fuse.</p>
</div>
</div>


